%div.Chat
  %div.Right-header
    %div.Right-header__group
      %div.Right-header__group-name
        Group name is displayed here.
      %ul.Right-header__member-list
        Member:
        %li.Right-header__member
          Members are displayed here.
    %div.Right-header__edit-btn
      Edit

  %div.Message-field
    %div.Message-box
      %div.Message-info
        %div.Message-info__user-name
          USER NAME
        %div.Message-info__date
          2020年5月14日  21時
      %div.Message
        %p.Message__content
          Message is displayed here.
        %img.Message__image
          -# = image_tag 'ファイル名。拡張子', size: "100x100", alt: "オルタネイトテキスト"
          


  %div.Footer
    %div.Form
      %div.Form__contents
        %input.Form__input-content{:placeholder => "type a message", :type => "text", :name => "message[image]", :id => "message_image"}

          %label.Form__input-image
            = icon('far', 'images', class: 'Form_icon')
            %input.Form__input-image--none{type: "file"}
        
      %input.Form__submit{:type => "submit", :name => "commmit", :value => "Send"}