.Side-bar
  .Left-header
    .Left-header__list
      %h3.Left-header__user-name
        USER NAME
      %ul.Icon-list
        %li.Icon-list__Icon
        = link_to "/groups/new", class: "Icon-list__Icon" do
          = icon('fas', 'edit',  class: "Icon-list__Icon--icon") 
        = link_to "/users/373/edit", class: "Icon-list__Icon" do
          = icon('fas', 'cog',  class: "Icon-list__Icon--icon") 

  .Group-list
    .Group
      .Group__name
        GROUP NAME
      .Group__message
        Message is displayed here.