.Icon-list {
  display: flex;
  justify-content: end;
  &__Icon{ 
    margin-left: 5px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1; 
    color: $white;
    text-decoration: none;
  }
}