.Group {
  padding: 20px 0 40px;
  text-decoration: none;
  &__name {
    font-size: 15px;
    color: $white;                   // 実装に伴って文字色が青に変色したため追加
    // text-decoration: none;  // -> 下線を消そうと試みるも効果無し
  }
  &__message {
    font-size: 15px;
    margin-top: 5px;
    color: $white;                   // 実装に伴って文字色が青に変色したため追加
    text-decoration: none;           // -> 下線を消そうと試みるも効果無し
  }
}